<style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    #customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

 </style>   

<table id="customers">
<tr>
  <th>No</th>  
  <th>Name</th>
  <th>SGPA</th>
</tr>

<% for(var i=0; i<people.length; i++) {%>
      <tr>
        <th><%= i %></th>
        <th><%= people[i][0] %></th>
        <th><%= people[i][1] %></th>
      </tr>
<% } %>

</table>